<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/rengoku.jpg">
        <p>This site was created by Kyojuro Rengoku the Flame Hashira of the Demon Slayer Corps.</p>
        <p>This application is powered by mapbox.com and weathercast API.</p>
        
    </div>
    
    {{>footer}}
</body>

</html>