<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="forecast"></p>
        <p id="precip"></p>
        <p id="humid"></p>
        <p id="wind_speed"></p>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>